<!DOCTYPE html>
<html>
<head>
  <title>Bizizone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--use an ENV variable here -->
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9BXncKnjMjfY0GF5CJupCi7ClD4IGevU">
    </script>
</head>
<body>
<%= render 'layouts/header' %>
<%= render partial: 'layouts/flash_messages', flash: flash %>
<% if current_page?(root_path) %>
<div class="landing">
<% else %>
<div class="container">
<% end %>
<%= yield %>
</div>
</body>
</html>
